# Python virtual environment
.venv/
venv/
ENV/

# Specific files to ignore
flashcards_app.py
git_guide.md
*.pdf

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
